<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" /> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="../public/mystyles/styles.css">
    <title>Portfolio</title>
</head>
<body>
    <section>
    <!-- Header Section -->
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <!-- Container wrapper -->
            <div class="container-fluid">
            <!-- Toggle button -->
                <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button> -->
        
            <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    Portfolio
                    </a>
                    <!-- <p class="HomePageHeader">Victories Solution</p> -->
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Professional Experience.html">Professional Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Technical and Soft Skills.html">Technical and Soft Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Educational Background.html">Educational Background</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="Coding Journey.html">Coding Journey</a>
                    </li> -->
                
                
                </div>     
        
        
            </div>
        </nav>
    </section>


<section>
    <section class="Body-bg">

   

        <!-- Professional Experience -->
        <div class="container-fluid">
            <div class="card-group FontSettings">
                
                <div class="divsidebyside card bg-light mb-3" style="color: #000; width: 30%;  padding: 2%; margin-top: 10px; margin-bottom: 10px; margin-left: 40px; margin-right: 40px;">
                    <h1 class="cardsheader card-header">Associate Requirements Engineer</h1>
                    <div class="card-body">
                        <h4 class="cardsheader card-title" >(Dec 2019-Dec 2021)</h4>
                        <p class="cardsheader" style="text-decoration: underline;" >Eaton India Innovation Center, Pune</p>
                        <p class="card-text" style="text-align: justify;">
                            -Work experience as a Requirements Engineer on Validation activities<br>
                            activities-Compliance assessment throughout different phases of life cycle development for coveyance product portfolio (Hoses and fittings as products)<br>
                            -Good knowledge about hose industry standards <br>
                            -Good knowledge about DOORS software for Requirements Management<br>
                            -Effectively handled resources as a project lead under dynamic situations for sustaining project keeping track on deadlines and getting results on time<br>
                            -Demonstrated individual ownership for end to end work assignment closure by having effective communication between cross functional team discussions<br>
                            -VBA Scripting based process automations. Proficient in Excel VBA skills. Automated different on the job day to day activities with VBA and excel pivot/Lookup functionalities<br>
                            -Releasing spec in PLM software- Enovia<br>
                            -Experience on SharePoint site creation for Requirements Engineering Learning Resource- ERG
                        </p>
                        <h6>Skills:</h6>
                        <button class="buttonskills btn btn-info">Requirements Management</button>
                        <button class="buttonskills btn btn-info">DOORS</button>
                        <button class="buttonskills btn btn-info ">MS Excel</button>
                        <button class="buttonskills btn btn-info">MS Word</button>
                        <button class="buttonskills btn btn-info">MS Powerpoint</button>
                        <button class="buttonskills btn btn-info">Excel VBA</button>
                        <button class="buttonskills btn btn-info">Enovia</button>
                        <button class="buttonskills btn btn-info">SharePoint Creation</button>
                        <button class="buttonskills btn btn-info">Leadership</button>
                        <button class="buttonskills btn btn-info">Presentation Skills</button>
                        
                    </div>
                </div>

                <div class="divsidebyside card bg-light  mb-3" style="color: #000; width: 30%;  padding: 2%; margin-top: 10px; margin-bottom: 10px; margin-left: 40px; margin-right: 40px">
                    <h1 class=" cardsheader card-header">Automation Engineer</h1>
                    <div class="card-body">
                        <h4 class=" cardsheader card-title" >(Dec 2021-Present)</h4>
                        <p class="cardsheader" style="text-decoration: underline;" >Eaton India Innovation Center, Pune</p>
                        <p style="text-align: justify;">
                            -Lead Digitization and requirements engineering process automation activities for team<br>
                            -Mentorship to four interns for digitization and automation projects<br>
                            -Successful completion of "Drawing to Digitization" project with 70% TAT improvement and leveraging data for decision making; <br>
                            CI Competition winner at Aerospace Global Level; Trade secret on Drawing to Digitization Algorithm; <br>
                            -PDF to excel data extraction algorithms <br>
                            -Python and Excel VBA Programming for small automations involving day-to-day activities<br>
                            -Active participation in logic generation activities for Digitization and Automation workshops<br>
                            -Lead Requirements Management Roadmap for Process improvement through Digitization and Automation<br>
                            -Innovation ideas filed and converted into "Unqualified Trade Secret" on process automation
                        </p>
                        <h6>Skills:</h6>
                        <button class="buttonskills btn btn-info">Python</button>
                        <button class="buttonskills btn btn-info">Automation Tools</button>
                        <button class="buttonskills btn btn-info ">Excel VBA based Tools</button>
                        <button class="buttonskills btn btn-info">Algorithms</button>
                        <button class="buttonskills btn btn-info">Logical Thinking</button>
                        <button class="buttonskills btn btn-info">Mentoring</button>
                        <button class="buttonskills btn btn-info">Lean Certified</button>
                        <button class="buttonskills btn btn-info">Requirements Management</button>
                        <button class="buttonskills btn btn-info">Leadership</button>
                        <button class="buttonskills btn btn-info">DOORS</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Footer Section  -->
    <section>
        <div>
            <Div class="container-fluid"style="text-align:center; background-color: darkgray;">
                <p>Copyright 2023</p>
            </Div>
            
        </div>

    </section>



</section> 
</body>
</html>